<div ng-app="Donor">
  <div ng-controller="DonorCtrl">

    <form ng-submit="addDonor()">
      <input type="text" ng-model="donor.last_name" typeahead="donor for donor in donors" placeholder="Last, First..." />
      <input type="submit" value="Add Donor">
    </form>

  </div>
</div>