<div ng-app="donor">
  <div class='container-fluid' ng-controller="TypeaheadCtrl">

     <pre>Model: {{selected| json}}</pre>
      <input type="text" ng-model="selected" typeahead="donor for donor in donors | filter:$viewValue"  />
      <!--<input type="submit" value="Add Donor">-->
  </div>
</div>