<div class="panel">
<header>
<h1> Donor Information </h1>
</header>


<div class="content">
 <div ng-app="Donor">
  <div ng-controller="DonorCtrl">

    <ul>
      <li ng-repeat="donor in donors">{{donor.first_name}}</li>
    </ul>

   </div>
  </div>
 </div>
</div>