<div class="panel">
<header>
<h1> Donor Information </h1>
</header>

<div class="content">
 <div ng-app="Donor">
  <div ng-controller="DonorIndexCtrl">

    <ul>
      <li ng-repeat="donor in donors">{{donor.last_name}}</li>
    </ul>

   </div>
  </div>
 </div>
</div>