.panel
  %header
    %h1
      %i.icon-home.icon-large
<<<<<<< HEAD
      &nbsp&nbsp&nbsp &nbsp &nbsp  Main Street Mission Food Donation
=======
      &nbsp&nbsp&nbsp  Main Street Mission Food Donation
>>>>>>> deploy
  .content
    = render 'form'
